:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  --color-light: #ccc;
  --color-dark: #383838;
  --color-black: #252525;
  --color-pink: #ffbdbd;
  --color-purple: #c9c9ff;
  --color-hover1: #f1cbff;
  --color-hover2: #e1f7d5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 1rem;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

main {
  display: flex;
  background-color: var(--color-dark);
  color: var(--color-light);
  padding: 1rem;
  width: 600px;
  height: 500px;
  border-radius: 10px;
  box-shadow: inset 0 0 20px var(--color-light);
  gap: 10px;
}

.left {
  display: flex;
  flex-direction: column;
  width: 50px;
  border: 1px solid var(--color-light);
  border-radius: 10px;
  padding: 1rem;
}

.right {
  border: 1px solid var(--color-light);
  border-radius: 10px;
  padding: 1rem;
  width: 95%;
}

.top {
  height: 350px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}

h1 {
  font-size: 1.6em;
  line-height: 1.1;
  text-align: center;
}

.text {
  font-size: 1.2rem;
  line-height: 2rem;
  padding: 1rem;
  max-width: 400px;
  text-align: justify;
}

.btn {
  padding: 15px 50px;
  border: solid 2px var(--color-pink);
  border-radius: 20px;
  background: transparent;
  color: var(--color-pink);
  box-shadow: inset 0px 0px 30px 0px var(--color-pink);
  cursor: pointer;
  margin-right: 10px;
  font-size: 1rem;
}

.btn:hover {
  color: var(--color-hover2);
  border-color: var(--color-hover2);
  box-shadow: inset 0px 0px 30px 0px var(--color-hover2);
}

.btn-purple {
  color: var(--color-purple);
  border-color: var(--color-purple);
  box-shadow: inset 0px 0px 30px 0px var(--color-purple);
}

.btn-purple:hover {
  color: var(--color-hover1);
  border: solid 2px var(--color-hover1);
  box-shadow: inset 0px 0px 50px 0px var(--color-hover1);
}

/*********/
.step1,
.step2,
.step3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  border-radius: 50%;
  aspect-ratio: 1;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  font-family: inherit;
  border: solid 2px var(--color-purple);
  background: transparent;
  box-shadow: inset 0px 0px 30px 0px var(--color-purple);
}

.step1 {
  margin-top: 1rem;
  margin-bottom: 7.5rem;
  animation: l1 4s infinite linear;
}

.step2 {
  margin-bottom: 7.5rem;
  animation: l2 4s infinite linear;
}

.step3 {
  animation: l1 3s infinite linear;
}

.deactive {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  border-radius: 50%;
  aspect-ratio: 1;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  font-family: inherit;
  border: solid 2px var(--color-pink);
  background: transparent;
  box-shadow: inset 0px 0px 30px 0px var(--color-pink);
}

/* @keyframes l1 {
  12.5% {
    border-radius: 37% 63% 70% 30% / 30% 62% 38% 70%;
  }
  25% {
    border-radius: 50% 50% 70% 30% / 52% 62% 38% 48%;
  }
  37.5% {
    border-radius: 33% 67% 18% 82% / 52% 75% 25% 48%;
  }
  50% {
    border-radius: 73% 27% 18% 82% / 52% 32% 68% 48%;
  }
  62.5% {
    border-radius: 73% 27% 74% 26% / 64% 32% 68% 36%;
  }
  75% {
    border-radius: 84% 16% 15% 85% / 55% 79% 21% 45%;
  }
  87.5% {
    border-radius: 12% 88% 69% 31% / 10% 66% 34% 90%;
  }
}

@keyframes l2 {
  12.5% {
    border-radius: 37% 23% 70% 30% / 30% 23% 38% 70%;
  }
  25% {
    border-radius: 50% 50% 70% 30% / 52% 62% 38% 48%;
  }
  37.5% {
    border-radius: 33% 67% 18% 82% / 52% 75% 25% 48%;
  }
  50% {
    border-radius: 73% 27% 18% 82% / 52% 32% 68% 48%;
  }
  62.5% {
    border-radius: 73% 27% 74% 26% / 64% 32% 68% 36%;
  }
  75% {
    border-radius: 84% 16% 15% 85% / 55% 79% 21% 45%;
  }
  87.5% {
    border-radius: 12% 88% 69% 31% / 10% 66% 34% 90%;
  }
} */
